* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #242424;
}

#window {
    background-color: #404040;
    border: 4px solid gold;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-width: 800px;
    padding: 25px 15px 25px 15px;
    margin-top: 120px;

}

h1 {
    color: gold;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

#inputInfo {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px;
}

#controlField1 {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}

#controlField2 {
    display: block;
    justify-content: left;
    padding-bottom: 20px;
    text-align: center;
}

#controlField3 {
    display: block;
    justify-content: left;
    padding-bottom: 20px;
    text-align: center;
}

#controlField4 {
    display: block;
    justify-content: left;
    padding-bottom: 20px;
    text-align: center;
}

#controlField5 {
    display: block;
    justify-content: left;
    padding-bottom: 20px;
    text-align: center;
}

#calcButton {
    text-align: center;
    padding-bottom: 20px;
}

#calcButton button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(13, 175, 224);
    font-size: 20px;

}

#calcButton button:hover {
    cursor: pointer;
}

#calcButton button:active {
    background-color: rgb(7, 121, 155);
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    text-align: center;
}