* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(227, 230, 171);
}

body {
    background-color: #242424;
}

#window {
    background-color: #404040;
    border: 4px solid gold;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-width: 800px;
    padding: 25px 15px 25px 15px;
    margin-top: 120px;
}

h1 {
    color: gold;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    text-align: start;
    padding-bottom: 20px;
}

#inputInfo {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px;
}

.controlField {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.controlField label {
    white-space: nowrap;
}

.controlField input {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    text-align: start;
    text-align: center;
}

#calcButton {
    text-align: center;
    padding-bottom: 20px;
}

#calcButton button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(187, 159, 0);
    font-size: 1.2rem;
    font-weight: 600;
    color: #242424;
}

#calcButton button:hover {
    cursor: pointer;
}

#calcButton button:active {
    background-color: rgb(94, 80, 0);
}